<div class="uk-grid">
    <div class="uk-width uk-margin">
        This message is from my component controller:
        <h4>{{ componentVm.message }}</h4>
    </div>
    <div class="uk-width-1-2">
        Type a new message:
    </div>
    <div class="uk-width-1-2">
        <form>
            <input class="uk-input" type="text" ng-model="componentVm.newMessage"/>
        </form>
    </div>
    <div class="uk-width">
        <button class="uk-button uk-button-primary" ng-click="componentVm.updateMessage()">Change text!</button>
    </div>
</div>
